@using System.Text
@using AzureDesignStudio.Models
@inherits FeedbackComponent<CodeDrawerContent, string>
@inject IJSRuntime JS

<Affix TargetSelector=".ant-drawer-body" OnChange="HandleAffixChange">
    <Button Icon="download" Style="@buttonStyle" OnClick="HandleButtonClick">Download</Button>
</Affix>
<pre><code class="@codeClass">
    @drawerContent.Content
</code></pre>

@code {
    private CodeDrawerContent drawerContent = null!;
    private string codeClass = "line-numbers language-json";
    private const string upperRight = "position:absolute;top:86px;right:41px;z-index:10";
    private string buttonStyle = upperRight;

    protected override Task OnInitializedAsync()
    {
        drawerContent = Options;
        codeClass = drawerContent.Type switch
        {
            CodeDrawerContentType.Bicep => "line-numbers language-bicep",
            CodeDrawerContentType.Json => "line-numbers language-json",
            _ => "line-numbers language-json"
        };

        return base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        await JS.InvokeVoidAsync("Prism.highlightAll");
    }

    void HandleAffixChange(bool status)
    {
        if (status)
        {
            buttonStyle = "float:right;";
        }
        else
        {
            buttonStyle = upperRight;
        }
    }

    async Task HandleButtonClick()
    {
        var filename = drawerContent.Type switch
        {
            CodeDrawerContentType.Json => "azure-design-studio.json",
            CodeDrawerContentType.Bicep => "azure-design-studio.bicep",
            _ => "azure-design-studio.json"
        };

        await DownloadFile(drawerContent.Content, filename, "application/json");
    }

    // According to: https://docs.microsoft.com/en-us/aspnet/core/blazor/file-downloads?view=aspnetcore-6.0
    private async Task DownloadFile(string content, string filename, string contentType)
    {
        var stream = new MemoryStream(Encoding.UTF8.GetBytes(content));
        using var streamRef = new DotNetStreamReference(stream);
        await JS.InvokeVoidAsync("downloadFileFromStream", filename, contentType, streamRef);
    }
}
