@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inherits FeedbackComponent<string, string>
@inject NavigationManager navManager
@inject SignOutSessionStateManager signOutManager

<AuthorizeView>
    <Authorized>
        <p>You logged in as @context.User.Identity?.Name</p>
        <br />
        <Button Type="primary" OnClick="BeginLogout">Log out</Button>
    </Authorized>
    <NotAuthorized>
        <p>Please log in with your user account.</p>
        <br />
        <Button Type="primary" OnClick="BeginLogin">Log in</Button>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task BeginLogin()
    {
        DrawerRef<string> dr = (FeedbackRef as DrawerRef<string>)!;
        await dr!.CloseAsync(string.Empty);

        navManager.NavigateTo("authentication/login");
    }

    private async Task BeginLogout(MouseEventArgs args)
    {
        DrawerRef<string> dr = (FeedbackRef as DrawerRef<string>)!;
        await dr!.CloseAsync(string.Empty);

        await signOutManager.SetSignOutState();
        navManager.NavigateTo("authentication/logout");
    }
}
