name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'
        
    - name: Build the Docker image
      run: docker build '.' --file 'src/Dockerfile' --tag azuredesignstudioserver --force-rm
